@font-face {
  font-family: 'Prosto One';
  font-style: normal;
  font-weight: 400;
  src: url('ProstoOne.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('OpenSans.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 500;
  src: url('UbuntuMono-R.woff') format('woff');
}


html, body { height: 100%; }

body {
  font-family: 'Open Sans';
  font-size: 16pt;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3 { font-family: "Prosto One"; }
code, pre { font-family: "Ubuntu Mono"; }

#head {
  position: relative;
  background: #b5ddf4;
  padding-top: 1px;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #aaa;
}

#head h1 {
  margin: 20px 0 20px 30px;
  font-size: 35pt;
}

#head h1 span {
  font-size: 20pt;
  padding-left: 10px;
}

#head-image {
  width: 100%;
  display: block;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#main {
  padding: 0px 15px 40px 15px;
}

h2 {
  font-size: 22pt;
}

ul, ol {
  margin-left: 0; padding-left: 0;
}
ul { list-style-type: circle; }

li { margin-bottom: 1em; }

button {
  font-family: inherit;
  font-size: 14pt;
  padding-left: 8px; padding-right: 8px;
}

.CodeMirror {
  border: 1px solid silver;
  height: 400px;
  line-height: 1.3;
  font-size: 14pt;
  font-family: "Ubuntu Mono";
  z-index: 2;
}
.CodeMirror pre {
  padding: 0 9px;
}
.CodeMirror-linenumber {
  font-size: 80%;
  padding-top: 2px;
}

.output {
  background: #eee;
  margin-top: 0;
  padding: 2px 10px 4px;
  min-height: 1.3em;
  border: 1px solid silver;
  border-top-width: 0;
  font-size: 14pt;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.hint-doc {
  white-space: normal;
  font-size: 12pt;
}

.Tern-fname { color: black; }
.Tern-farg { color: #70a; }
.Tern-farg-current { text-decoration: underline; }
.Tern-type { color: #07c; }
.Tern-fhint-guess { opacity: .7; }

.Tern-completion {
  padding-left: 22px;
  position: relative;
}
.Tern-completion:before {
  position: absolute;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  width: 15px;
  line-height: 16px;
  text-align: center;
  color: white;
  box-sizing: border-box;  
}
.Tern-completion-unknown:before {
  content: "?";
  background: #4bb;
}
.Tern-completion-object:before {
  content: "O";
  background: #77c;
}
.Tern-completion-fn:before {
  content: "F";
  background: #7c7;
}
.Tern-completion-array:before {
  content: "A";
  background: #c66;
}
.Tern-completion-number:before {
  content: "1";
  background: #999;
}
.Tern-completion-string:before {
  content: "S";
  background: #999;
}
.Tern-completion-bool:before {
  content: "B";
  background: #999;
}

.Tern-completion-guess {
  color: #999;
}
.CodeMirror-hint { font-size: 12pt; }

ul.tabs {
  list-style: none;
  margin: 0 0 -1px 0;
  padding: 0 0 0 37px;
  font-family: "Ubuntu Mono";
  overflow: hidden;
}
ul.tabs li {
  font-size: 11pt;
  color: #777;
  cursor: pointer;
  margin: 0 2px 0 0;
  padding: 2px 10px 5px;
  border: 1px solid silver;
  border-bottom-width: 0px;
  background: #f3f3f3;
  display: inline-block;
  z-index: 1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
}
ul.tabs li:hover {
  color: #444;
}
ul.tabs li.selected {
  background: white;
  color: #222;
  z-index: 3;
  cursor: default;
}
ul.tabs li:before,
ul.tabs li:after {
  position: absolute;
  bottom: 0;
  width: 6px;
  height: 6px;
  content: " ";
  border: 1px solid silver;
}
ul.tabs li:before {
  left: -7px;
  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #f3f3f3;
}
ul.tabs li:after {
  right: -7px;
  border-bottom-left-radius: 6px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #f3f3f3;
}
ul.tabs li.selected:before {
  box-shadow: 2px 2px 0 white;
}
ul.tabs li.selected:after {
  box-shadow: -2px 2px 0 white;
}

#commands {
  font-family: "Ubuntu Mono";
  font-size: 11pt;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 10em;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 2px solid #444;
}
